<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Coaster Update</h1>
<form method="POST" action="/api/coasters" >
	<label>Name to update:</label>
	<input type="text" name="name">
	<br>
	<hr>
	<br>
	<label>New Name:</label>
	<input type="text" name="name">
	
	<label>New Type:</label>	
	<input type="text" name="type">
	<br>
	<label>New Park:</label>	
	<input type="text" name="park">
	
	<label>New State:</label>	
	<input type="text" name="state">

	<br>
	<input type="submit" name="submit" value="Update Coaster">

</form>
</body>
</html>